body, html {
  height: 100%;
}
  
body {
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  background: lighten(#ccc, 50%);
  font-family: 'Roboto';
  font-weight: 400;
  color: #566358;

  @media (max-width: 500px) {
    font-size: 14px;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
  position: relative;
  background: url('~img/water.jpg') center no-repeat;
  background-size: cover;
  z-index: 2;
  padding: 47px 30px 40px 30px;
  display: flex;

  @media(max-width: 500px) {
    padding: 26px 10px 10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(#fff, .85);
    z-index: -1;
  }
}

ul{
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
  }
}

* {
  box-sizing: border-box;
}

.error-mes {
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: 2px;
  display: inline-block;
  color: rgb(155, 0, 0);
}