.tabs {
    background: $gray;
}
.list {
    font-family: 'Roboto Medium';
    font-weight: 500;
    display: flex;

    @media(max-width: 500px) {
        flex-direction: column;
    }
}
.item {
    border-right: 2px solid #fff;
    text-align: center;

    @media(max-width: 670px) {
        flex: 1 1 auto;

        &:last-child {
            border-right: none;
        }
    }

    @media(max-width: 500px) {
        border-right: none;
        border-bottom: 2px solid #fff;

        &:last-child {
            border-bottom: none;
        }
    }
}
.link {
    text-transform: uppercase;
    color: $darkgreen;
    text-decoration: none;
    font-size: 16px;
    padding: 21px 69px;
    display: block;
    width: 100%;
    height: 100%;

    @media(max-width: 670px) {
        padding: 21px 0;
    }

    @media(max-width: 500px) {
        font-size: 14px;
        padding: 14.5px 0;
    }

    &--active {
        color: $green;
        background: #fff;
    }
}